/* BOTÓN HAMBURGUESA OCULTO EN PC */
.menu-toggle {
  display: none;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #0077cc;
    margin-right: 10px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    right: 35px;
    top: 60px;

    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #cfe8ff;

    width: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu > li > a {
    color: #0077cc;
    padding: 0.5rem 0;
  }

  /* DESACTIVA hover para mobile */
  .navbar-menu li:hover .submenu {
    display: none;
  }

  /* SUBMENÚS */
  .submenu {
    display: none;
    position: static;
    padding-left: 1rem;
  }

  .navbar-menu li.open .submenu {
    display: block;
  }

  /* LOGO MÁS PEQUEÑO */
  .navbar-logo {
    width: 45px;
    height: auto;
  }
}
